<div ng-controller="UmbGeoController">
     
        <div class="coordinate">
            <label>Latitude Value:</label>
            <input type="number" ng-model="model.value.latitude" />
            <span class="error-message" ng-if="model.errors.latitude" style="color: red">Invalid latitude</span>
        </div>
        <div class="coordinate">
            <label>Longitude Value:</label>
            <input type="number" ng-model="model.value.longitude" />
            <span class="error-message" ng-if="model.errors.longitude" style="color: red">Invalid longitude</span>
        </div>
        <div class="coordinate">
            <label>Elevation Value:</label>
            <input type="number" ng-model="model.value.elevation" />
            <span class="error-message" ng-if="model.errors.elevation" style="color: red">Invalid elevation</span>
        </div>
    
</div>
