.coordinate{
    margin-bottom: 10px;
}

.coordinate label {
    padding-top: 3px;
    width: 115px;
    display: inline-block;
}

.coordinate input {
    margin: 0 auto;
}

.invalidCoords {
    color: red;
    font-weight: bold;
}